[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
  title = "Push Administration: Configuration"
  javascript_urls = [ 'extensions/Push/web/admin.js' ]
  style_urls = [ 'extensions/Push/web/admin.css' ]
%]

<script>
var push_defaults = new Array();
[% FOREACH connector = connectors.list %]
  [% FOREACH option = connector.config.options %]
    [% IF option.name != 'enabled' && option.default != '' %]
      push_defaults['[% connector.name FILTER js %]_[% option.name FILTER js %]'] = '[% option.default FILTER js %]';
    [% END %]
  [% END %]
[% END %]
</script>

<p>
Available Push connectors:
</p>

<form method="POST" action="page.cgi">
<input type="hidden" name="id" value="push_config.html">
<input type="hidden" name="save" value="1">

<table border="0" cellspacing="0" cellpadding="5" width="100%">

[% FOREACH connector = connectors.list %]
  <tr class="connector">
    <th>[% connector.name FILTER html %]</th>
    <td><hr></td>
  </tr>
  [% FOREACH option = connector.config.options %]
    [% class = connector.name _ '_tr' IF option.name != 'enabled' %]
    <tr class="[% class FILTER html %] option">
      <th>
        [% IF option.required %]
          <span class="required_option" title="Mandatory option">*</span>&nbsp;
        [% END %]
        [% option.label FILTER html %]
      </th>
      <td>

        [% IF option.type == 'string' %]
          <input type="text" name="[% connector.name FILTER html %].[% option.name FILTER html %]"
                 value="[% connector.config.${option.name} FILTER html %]" size="60"
                 id="[% connector.name FILTER html %]_[% option.name FILTER html %]">
        [% ELSIF option.type == 'select' %]
          <select name="[% connector.name FILTER html %].[% option.name FILTER html %]"
                  id="[% connector.name FILTER html %]_[% option.name FILTER html %]"
            [% IF option.name == 'enabled' %]
              onchange="toggle_options(this.value == 'Enabled', '[% connector.name FILTER js %]')"
            [% END %]
          >
            [% IF option.name != 'enabled' && !option.required %]
              <option value="""
               [% ' selected' IF connector.config.${option.name} == "" %]></option>
            [% END %]
            [% FOREACH value = option.values %]
              <option value="[% value FILTER html %]"
               [% ' selected' IF connector.config.${option.name} == value %]>[% value FILTER html %]</option>
            [% END %]
          </select>

        [% ELSE %]
          unsupported option type
        [% END %]
      </td>
    </tr>
  [% END %]
  <script>
    var is_enabled = document.getElementById('[% connector.name FILTER js %]_enabled').value == 'Enabled';
    toggle_options(is_enabled, '[% connector.name FILTER js %]');
  </script>
[% END %]

<tr>
  <td>&nbsp;</td>
  <td><hr></td>
</tr>

<tr>
  <td>&nbsp;</td>
  <td>
    <input type="submit" value="Submit Changes">
    <input type="submit" value="Reset to Defaults" onclick="reset_to_defaults(); return false">
  </td>
</tr>


<tr>
  <td style="min-width: 10em">&nbsp;</td>
  <td width="100%">&nbsp;</td>
</tr>

</table>

</form>

[% INCLUDE global/footer.html.tmpl %]
